<footer>
    <div class="redes">
        <h2>Seguinos en nuestras redes:</h2>
        <div class="redesFlex">
            <div class="face">
                <a href="https://www.facebook.com/"><img class="redes_icon" src="img/icons8-facebook-nuevo.svg"
                        alt="icono de facebook letra f blanco con fondo azul" /></a>
            </div>
            <div class="insta">
                <a href="https://www.instagram.com/"><img class="redes_icon" src="img/icons8-instagram.svg"
                        alt="icono instagram imagen de camara con fondo multicolor" /></a>
            </div>
            <div class="twitter">
                <a href="https://www.twitter.com/"><img class="redes_icon" src="img/icons8-twitter.svg"
                        alt="icono twitter pajaro volando en blanco y fondo azul" /></a>
            </div>
        </div>
    </div>
</footer>