<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/static/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/realtimeproducts">Products</a>
                </li>
            </ul>
            {{#if session.login}}
            <form class="d-flex " role="search">
                <a class="nav-link" href="/static/profile"> Profile</a><span> | </span><a class="nav-link" href="/api/session/logout">Log out </a>
            </form>
            {{else}}
            <form class="d-flex" role="search">
                <a class="nav-link" href="/static/userlog">Log In</a>
            </form>
            {{/if}}
        </div>
    </div>
</nav>